$bp-small: 300px;
$bp-medium: 600px;
$bp-large: 1024px;
$bp-xlarge: 1420px;

$bp-small-down: 299.9px;
$bp-medium-down: 599.9px;
$bp-large-down: 1023.9px;
$bp-xlarge-down: 1419px.9px;

@mixin responsive-small-down {
    @media (max-width: $bp-small-down) {
        @content;
    }
}

@mixin responsive-small-up {
  @media (min-width: $bp-small) {
    @content;
  }
}

@mixin responsive-medium-down {
    @media (max-width: $bp-medium-down) {
      @content;
    }
  }

@mixin responsive-medium-up {
  @media (min-width: $bp-medium) {
    @content;
  }
}

@mixin responsive-large-down {
    @media (max-width: $bp-large-down) {
        @content;
    }
}

@mixin responsive-large-up {
  @media (min-width: $bp-large) {
    @content;
  }
}

@mixin responsive-xlarge-down {
    @media (max-width: $bp-xlarge-down) {
        @content;
    }
}

@mixin responsive-xlarge-up {
  @media (min-width: $bp-xlarge) {
    @content;
  }
}

// Responsive Grid
@mixin responsive-grid {
    display: grid;

    @include responsive-mobile {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;

        padding-left: 16px;
        padding-right: 16px;
    }

    @include responsive-small {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 16px;

        padding-left: 24px;
        padding-right: 24px;
    }

    @include responsive-medium {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 24px;

        padding-left: 24px;
        padding-right: 24px;
    }

    @include responsive-large-up {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;

        padding-left: 64px;
        padding-right: 64px;
    }
}

// Responsive Margin
@mixin responsive-margins {
    @include responsive-mobile {
        padding-left: 16px;
        padding-right: 16px;
    }

    @include responsive-small {
        padding-left: 24px;
        padding-right: 24px;
    }

    @include responsive-medium {
        padding-left: 24px;
        padding-right: 24px;
    }

    @include responsive-large-up {
        padding-left: 64px;
        padding-right: 64px;
    }
}