.flex-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include responsive-medium-up {
        flex-wrap: nowrap;
    }
}
  
.full-width {
    width: 100%;
}
  
.responsive-width-30 {
    width: 100%;

    @include responsive-medium-up {
        width: 30%;
    }
}
  
.responsive-width-40 {
    width: 100%;

    @include responsive-medium-up {
        width: 40%;
    }
}