#header {
  width: var(--widht-header);
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: var(--color-header);
  background-image: var(--color-header-lineal);
}

#subheader {
  width: var(--widht-subheader);
  height: 100vh;
  position: fixed;
  right: 0;

  /* background-color: var(--color-header); */
  /* background-image: var(--color-header-lineal);  */

  /* background-image: linear-gradient(-69deg, #f7ccbc , #a5fcf4, #82a8f9, #cdaefa);
  background-size: 69% 111%;
  animation: gradiente 10s ease-in-out infinite; */
}

.outline {
  outline: none;
}

.navbar-nav{
  /* align-items: center; */
  height: 100%;
}

@keyframes gradiente2 {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50 100%
  }
  100% {
    background-position: 100 0%;
  }
}

@keyframes gradiente {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 1111% 50%
  }
  100% {
    background-position: 0 111%;
  }
}


#phoneheader {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--color-header);
}

#pdf-header {
  width: var(--widht-subheader);
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: var(--color-header);
  /* background-image: linear-gradient(-69deg, #f7ccbc , #a5fcf4, #82a8f9, #cdaefa);
  background-size: 69% 111%;
  animation: gradiente 10s ease-in-out infinite; */
}

/* For Phone: */
@media only screen and (min-width: 300px) {

  #header {
    display:none !important;
  }

  #phoneheader {
    display:block !important;
  }

  #phone-avatar {
    display:block !important; 
  }

  #subheader {
    display:none !important;
  }
}

/* For Tablet: */
@media only screen and (min-width: 600px) {

  #header {
    display:none !important;
  }

  #phoneheader {
    display:block !important;
  }

  #phone-avatar {
    display:block !important; 
  }

  #subheader {
    display:none !important;
  }
}

/* For Desktop: */
@media only screen and (min-width: 1024px) {

  #header {
    display:none !important;
  }

  #phoneheader {
    display:block !important;
  }

  #phone-avatar {
    display:block !important; 
  }

  #subheader {
    display:none !important;
  }
}

/* For Desktop: */
@media only screen and (min-width: 1190px) {

  #header {
    display:block !important;
  }

  #phoneheader {
    display:none !important;
  }

  #phone-avatar {
    display:none !important; 
  }

  #subheader {
    display:block !important;
  }
}