#main {
    margin-left: var(--widht-header);
    margin-right: var(--widht-subheader);
    width: 100%;
}

/* For Phone: */
@media only screen and (min-width: 300px) {

    #main {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    #fullname {
        text-align: center;
    }

    #title {
        text-align: center;
    }

    #avatar {
        text-align: center;
    }

    .card-timer {
        width: 100%;
        height: 100px;
    }

    .card-time-phone {
        display:block !important; 
    }

    .card-time-desktop {
        display:none !important; 
    }
    

    .card-responsive {
        /*height: 200px;*/
    }

    #img-cy-claves {
        display:none !important;
    }

    #img-api-ionic {
        display:none !important;
    }

    #img-cv-nicolas-grillo {
        display:none !important;
    }
}

/* For Tablet: */
@media only screen and (min-width: 600px) {

    #main {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #fullname {
        text-align: center;
    }

    #title {
        text-align: center;
    }

    .card-timer {
        width: 100%;
    }

    .card-time-phone {
        display:block !important; 
    }

    .card-time-desktop {
        display:none !important; 
    }

    .card-responsive {
        /*height: 300px;*/
    }

    #img-cy-claves {
        display:none !important;
    }

    #img-api-ionic {
        display:none !important;
    }

    #img-cv-nicolas-grillo {
        display:none !important;
    }
}
  
/* For Desktop: */
@media only screen and (min-width: 1024px) {

    #main {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #fullname {
        text-align: center;
    }

    #title {
        text-align: center;
    }

    .card-timer {
        width: 100%;
    }

    .card-time-phone {
        display:block !important; 
    }

    .card-time-desktop {
        display:none !important; 
    }

    .card-responsive {
        /*height: 300px;*/
    }

    #img-cy-claves {
        display:none !important;
    }

    #img-api-ionic {
        display:none !important;
    }

    #img-cv-nicolas-grillo {
        display:none !important;
    }
}

/* For Desktop 2: */
@media only screen and (min-width: 1190px) {

    #main {
        margin-left: var(--widht-header);
        margin-right: var(--widht-subheader);
    }

    #fullname {
        text-align: left;
    }

    #title {
        text-align: left;
    }

    .card-time-phone {
        display:block !important; 
    }

    .card-time-desktop {
        display:none !important; 
    }

    .card-timer {
        width: 150px;
    }

    .card-responsive {
        /*height: 200px;*/
    }

    #img-cy-claves {
        display:block !important;
    }

    #img-api-ionic {
        display:block !important;
    }

    #img-cv-nicolas-grillo {
        display:block !important;
    }
}

/* For Desktop 2: */
@media only screen and (min-width: 1400px) {

    #main {
        margin-left: var(--widht-header);
        margin-right: var(--widht-subheader);
    }

    #fullname {
        text-align: left;
    }

    #title {
        text-align: left;
    }

    .card-time-phone {
        display:none !important; 
    }

    .card-time-desktop {
        display:block !important; 
    }

    .card-timer {
        width: 150px;
    }

    .card-responsive {
        /*height: 200px;*/
    }

    #img-cy-claves {
        display:block !important;
    }

    #img-api-ionic {
        display:block !important;
    }

    #img-cv-nicolas-grillo {
        display:block !important;
    }
}