@import url(https://bootswatch.com/4/simplex/bootstrap.css);

.badge-testing {
  margin-top: 11px;
  width: 100%;
}


.flex-testing {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-testing2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-testing-end {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.text-badge {
  font-size: 0.8%;
}

.testing {
  width: 100%;
}

.seccionTesting {
  background-color: red;
  height: 400px;
}

.sec1 {
  width: 20%;
  height: 100%;
  background-color: #00a300;
}

.flex-center-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padre {
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*background-color:#029acf;*/
}

.hijo {
  width: 200px;
  
  /*background-color: #00a300;*/
}



.icon-size {
  margin: auto;
  display: block;
  width: 69px;
  height: 69px;
  margin-top: 22px;
}
  
.text-center {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

ul { 
	display: inline-block; 
	text-align: left; 
	}

.card-text {
  color: black;
  font-weight: bold;
}

.card-responsive {
  /* opacity: .8; */
  background-size: cover;
  background-repeat: no-repeat;
}

.card-effect {
  margin: 0px;
}

.card-effect:hover {
  font-size: 1rem;
  transform: scale(1.02);
  box-shadow: 0 24px 40px rgb(0 0 0 / 10%), 0 10px 16px rgb(0 0 0 / 8%), 0 1px 0 rgb(0 0 0 / 5%);
  /* filter: saturate(180%); */
  /* margin: 24px; */
}


.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  height: 44px;
  background-color: whitesmoke;
  opacity: .9;
  border-radius: 22px;
  margin-top: 11px;
}

#docu-pdf {
  width: 100%;
  height: 100vh;
}

.display-none {
  display: none !important;
}

/**VARIABLES */

:root {
  --widht-header: 22rem;
  --widht-subheader: 5rem;

  --color-header: #2471A3;
  --color-btn-head: #0000002a;

  --color-header-opacity: #2471A369;

  --color-header-lineal: linear-gradient(-69deg, #f7ccbc99 , #a5fcf499, #82a8f999, #cdaefa99);

  /* --color-header-lineal1: linear-gradient(-45deg,#4d918f44, #8ec3b344, #f7ca8944, #f7ad9744, #f5907b44); */

  /* --color-header-lineal1: linear-gradient(-69deg, #da202044 , #a5fcf411); */

  /* background-image: linear-gradient(-69deg, #f7ccbc , #a5fcf4, #82a8f9, #cdaefa); */

  /* --color-header-lineal1: linear-gradient(-69deg, #f7ccbc22 , #a5fcf422, #82a8f922, #cdaefa22); */

  /* --color-header-lineal1: linear-gradient(90deg,#FFFF00 6%,#FFA500 25%,#F14444 45%,#D53567 55%,#d45fd4 94%); */

  /* background-image: linear-gradient(-45deg,#4d918f, #8ec3b3, #f7ca89, #f7ad97, #f5907b); */

  /**Verdes*/
  --color-success: #00a300;
  --color-ok2: #469408;
  --color-ok: #02b875;
  --color-info2: #029acf;
  --color-info: #17a2b8;
  --color-danger: #9b479f;
  --color-waiting: #2471A3;

  --color-red: #d9534f;
  --color-blue: #4582ec;
  --color-yellow: #f0ad4e;
  --color-orange: #e95420;
  --color-grey: #adb5bd;
  --color-black: #343a40;
}

.color-header-lineal {
  background-image: var(--color-header-lineal1);
}

.color-pri {
  color: var(--color-header);
}

.marginPage {
  margin-top: 69px;
  margin-bottom: 111px;
}

.marginTopSection {
  padding-top: 69px;
}

.marginBottomSection {
  padding-bottom: 33px;
}


.marginSection {
  padding-top: 69px;
  padding-bottom: 22px;
}


/**EXTRA */
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-header {
  background-color: #1d57ca;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Testing */
